// Import base elements
@import "base/base";
@import "base/mixin";
@import "base/variables";
// Import layouts
@import "layout/header";
@import "layout/footer";
// Import modules
@import "module/button";
@import "module/navigation";
@import "module/form";
// Import Theme
@import "theme/theme";
body {
    font-family: $font-primary;
    font-size: $default-font-size;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

// html {
//     -webkit-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     min-height: 100%;
// }
// @media only screen and (max-width: 460px) {
//     html {
//         background-image: url("../images/bg-xss.jpg");
//     }
// }
// @media only screen and (min-width: 461px) {
//     html {
//         background-image: url("../images/bg-ss.jpg");
//     }
// }
// @media only screen and (min-width: 992px) {
//     html {
//         background-image: url("../images/bg-ls.jpg");
//     }
// }
.enter-screen {
    background: transparent;
}

.continue-btn {
    position: absolute;
    top: 65%;
}

.continue-to-details {
    background-color: $primary-color;
    color: $white-color;
    display: inline-block;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 22px;
    line-height: $line-height;
    transition: all 0.2s ease;
    &:hover,
    &:focus,
    &:active {
        opacity: 0.9;
        color: $white-color;
    }
}

#men,
#services,
#contact {
    padding: 30px 0 60px;
}

#women {
    padding: 80px 0 60px;
    z-index: 2;
}

#men {
    background-color: #eee;
    z-index: 1;
}

#services {
    z-index: 2;
}

#contact {
    background-color: #eee;
}

section {
    position: relative;
}

#women:after,
#men:after,
#services:after,
#contact:after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    z-index: 99;
    width: 24px;
    height: 24px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

#women::after,
#services::after {
    background-color: $white-color;
}

#men::after {
    background-color: #eee;
}

// Model category
.model-title h3 {
    padding-bottom: 20px;
}

.model-desc {
    border: 1px solid $light-color;
    margin-bottom: 30px;
    & p {
        padding-top: 10px;
        border-top: 1px solid $light-color;
    }
    &:hover {
        box-shadow: 0px 10px 25px $light-color;
    }
}

#services h2,
#contact h2 {
    margin-bottom: 30px;
}

#services h3,
#contact h3 {
    text-transform: capitalize;
    margin: 10px 0 20px;
}

.services {
    margin-bottom: 30px;
}

.service-img {
    display: block;
}

.service-img-svg {
    display: inline-block;
}

.service-img svg {
    border-radius: 100px;
    height: 160px;
    border: 1px solid $light-color;
    padding: 20px;
    display: block;
    text-align: center;
    width: auto;
}

.contact-center {
    margin-bottom: 40px;
}
