.navbar-default {
    background-color: $primary-color;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.navbar {
    min-height: 80px;
    color: $white-color;
    margin-bottom: 0;
}

.navbar-brand {
    height: 80px;
    padding: 20px;
}


.navbar-nav > li > a {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

 .navbar-nav > li > a{
    color: $white-color !important;
    text-transform: uppercase;
    background-color: transparent !important;
    &:hover, &:focus {
        opacity: 0.8;
        color: $white-color;
    }

}

.navbar-nav > li .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover 
{
    opacity: 0.8;
    color: $white-color;
    background-color: transparent !important;
  }



.navbar-toggle {
	margin-top: 22px;
	padding: 9px 10px 3px;
	border-radius: 0;
	&:hover, &:focus {
		opacity: 0.8;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white-color;
}

.navbar-toggle .icon-bar {
    width: 30px;
    margin-bottom: 8px;
    height: 1px;
}
