.navbar-default {
    background-color: $primary-color;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.navbar {
    min-height: 80px;
    color: $white-color;
    margin-bottom: 0;
}

.navbar-brand {
    height: 80px;
    padding: 20px;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: $white-color;
}

.navbar-default .navbar-nav > li > a{
    color: $white-color;
    text-transform: uppercase;
    &:hover, &:focus {
        opacity: 0.8;
        color: $white-color;
    }
}

.navbar-toggle {
	margin-top: 22px;
	padding: 9px 10px 3px;
	border-radius: 0;
	&:hover, &:focus {
		opacity: 0.8;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white-color;
}

.navbar-toggle .icon-bar {
    width: 30px;
    margin-bottom: 8px;
    height: 1px;
}
