a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }

h2 {
  text-transform: uppercase;
  font-weight: 700; }

.navbar-default {
  background-color: #023860;
  border-width: 0 0 1px 0;
  border-radius: 0; }

.navbar {
  min-height: 80px;
  color: #fff;
  margin-bottom: 0; }

.navbar-brand {
  height: 80px;
  padding: 20px; }

.navbar-nav > li > a {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff !important;
  text-transform: uppercase;
  background-color: transparent !important; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    opacity: 0.8;
    color: #fff; }

.navbar-nav > .active a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  opacity: 0.8;
  color: #fff;
  background-color: transparent !important; }

.navbar-toggle {
  margin-top: 22px;
  padding: 9px 10px 3px;
  border-radius: 0; }
  .navbar-toggle:hover, .navbar-toggle:focus {
    opacity: 0.8; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-toggle .icon-bar {
  width: 30px;
  margin-bottom: 8px;
  height: 1px; }

footer {
  background-color: #ddd;
  padding: 25px 0 10px;
  border-top: 1px solid #ddd; }

.btn-brand {
  background-color: #023860;
  color: #fff;
  border-radius: 25px;
  padding: 10px 30px;
  border: 2px;
  margin: 10px 0; }
  .btn-brand:hover {
    opacity: 0.8; }

.mfa-form .form-control {
  border: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd; }
  .mfa-form .form-control:focus {
    border-bottom: 1px solid #023860; }

.mfa-form .form-group {
  margin-bottom: 25px; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%; }

.enter-screen {
  background: transparent; }

.continue-btn {
  position: absolute;
  top: 65%; }

.continue-to-details {
  background-color: #023860;
  color: #fff;
  display: inline-block;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 22px;
  line-height: 1.5;
  transition: all 0.2s ease; }
  .continue-to-details:hover, .continue-to-details:focus, .continue-to-details:active {
    opacity: 0.9;
    color: #fff; }

#men,
#services,
#contact {
  padding: 30px 0 60px; }

#women {
  padding: 80px 0 60px;
  z-index: 2; }

#men {
  background-color: #eee;
  z-index: 1; }

#services {
  z-index: 2; }

#contact {
  background-color: #eee; }

section {
  position: relative; }

#women:after,
#men:after,
#services:after,
#contact:after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  z-index: 99;
  width: 24px;
  height: 24px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg); }

#women::after,
#services::after {
  background-color: #fff; }

#men::after {
  background-color: #eee; }

.model-title h3 {
  padding-bottom: 20px; }

.model-desc {
  border: 1px solid #ddd;
  margin-bottom: 30px; }
  .model-desc p {
    padding-top: 10px;
    border-top: 1px solid #ddd; }
  .model-desc:hover {
    box-shadow: 0px 10px 25px #ddd; }

#services h2,
#contact h2 {
  margin-bottom: 30px; }

#services h3,
#contact h3 {
  text-transform: capitalize;
  margin: 10px 0 20px; }

.services {
  margin-bottom: 30px; }

.service-img {
  display: block; }

.service-img-svg {
  display: inline-block; }

.service-img svg {
  border-radius: 100px;
  height: 160px;
  border: 1px solid #ddd;
  padding: 20px;
  display: block;
  text-align: center;
  width: auto; }

.contact-center {
  margin-bottom: 40px; }
